body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #0b0b0b;
}

.nav-links span {
  margin-left: 1rem;
  opacity: 0.85;
  cursor: pointer;
}

.hero {
  text-align: center;
  margin-top: 120px;
}

.hero h1 {
  font-size: 64px;
}

.hero input {
  margin-top: 30px;
  padding: 12px 20px;
  width: 60%;
  max-width: 500px;
  border-radius: 999px;
  border: none;
}
